.auth-container {
  width: 350px;
  margin: 100px auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.auth-container input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.auth-container button {
  padding: 10px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.link {
  color: blue;
  cursor: pointer;
}
